# Formal Verification Made Easy (and fast!) - Daniel Bristot de Oliveira, Red Hat



